.bg{
	background-color: #626262;
	margin-bottom: 10px;
}

.box{
	min-height: 50px;
	background-color: aqua;
	margin-bottom: 10px;
}

.red_box{
	min-height: 50px;
	background-color: red;
	margin-bottom: 10px;
}